.text-stroke-green {
  -webkit-text-stroke: 2px green;
  text-stroke: 1px green;
}
.my-confirm-button {
  width: 150px;
  height: 40px;
}
.my-canCle-buttton {
  width: 150px;
  height: 40px;
}
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
/* Base */
body {
  padding: 0;
  margin: 0;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
h2 {
  position: relative;
  color: hsl(0, 0%, 68%);
  font-weight: bold;
  font-family: "Anonymous Pro", monospace;
  letter-spacing: 7px;
  overflow: hidden;
  border-right: 2px solid hsl(0, 0%, 80%);
  white-space: nowrap;
  animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms infinite;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 710px;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: hsl(0, 0%, 80%);
  }
  to {
    border-right-color: transparent;
  }
}
@media (max-width: 360px) {
  .custom-container {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .custom-background {
    width: 100%;
    height: 100%;
  }
  .custom-main-container {
    padding: 0px 20px;
    width: 80% !important ;
  }
  .custom-title {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }
  .titel {
    font-size: 30px;
  }
  .custom-subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    font-size: 24px;
    line-height: 1.4;
    padding: 10px;
  }
  .custom-rocket {
    width: 5px;
    height: 60px;
  }
  .custom-darkmode-button {
    width: 40px !important;
    height: 40px;
  }
  .img-DarkMode {
    width: 30px;
    height: 30px;
    transform: translate(20%, 5%) !important;
  }
}
