* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
@media (max-width: 360px) {
  .Options {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 گزینه در یک ردیف */
    gap: 8px; /* فاصله بین گزینه‌ها */
  }
}
